.raceTrack{
    margin-left: 31%;
    margin-right: auto;
    background-color: blue;
    width: 38%;
    height: 98%;
    overflow: hidden;
    position: absolute;
}
.lane1{
    margin-left: 19%;
    margin-right: auto;
    border-style: dotted;
    width: 0%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.lane2{
    margin-left: 39%;
    margin-right: auto;
    border-style: dotted;
    width: 0%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.lane3{
    margin-left: 59%;
    margin-right: auto;
    border-style: dotted;
    width: 0%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.lane4{
    margin-left: 80%;
    margin-right: auto;
    border-style: dotted;
    width: 0%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.racingCar{
    margin-top: 480px;
    padding-left: 400px;
    padding-right: auto;
    position: absolute;
}
.bumps{
    padding-top: auto;
    padding-left: auto;
    padding-right: auto;
    position: absolute;

}
#bump1{
    margin-top: 0px;
    padding-left: 415px;
    padding-right: auto;
    position: absolute;
}
#bump2{
    margin-top: 0px;
    padding-left: 315px;
    padding-right: auto;
    position: absolute;
}#bump3{
    margin-top: 0px;
    padding-left: 116px;
    padding-right: auto;
    position: absolute;
}
.pointCounter{
    float: right;
    padding-top:100px;
    padding-right: 100px;
}
#level{
    margin-left:10px;
    color: black;
    font-size: 50px;
    font-family: fantasy;
}
#maxLevelLable{
    margin-left: 8px;
    color: black;
    font-size: 50px;
    font-family: fantasy;
}
#points{
    border-style: double;
    padding-bottom: auto;
    padding-top: 3px;
    width: 60px;
    font-size: 50px;
    font-family: fantasy;

}
#maxLevel{
    border-style: double;
    padding-bottom: auto;
    padding-top: 3px;
    width: 60px;
    font-size: 50px;
    font-family: fantasy;

}
.gameOver{
    margin-left: 0px;
    margin-right: auto;
    border-style: double;
    overflow: hidden;
    position: fixed;
    border-radius: 10%;
    border-color: darkred;
    border-width: 5px;
    background-color: black;
    width: 350px;
    font-size: 50px;
    color: red;
    display: none;
}